.media{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
video{
    width: 35rem;
    margin: 4px;
    padding: 12px;
}
.videolar{
    border-bottom: 3px solid #ccc;
    text-align: center;
    padding: 15px;
}
/* body{
    background-image: url(/istockphoto-1288526180-612x612.jpg);
} */